<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VueJS Fundamentals</title>

  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-50 min-h-screen flex items-center justify-center">
  <div id="app" class="w-full max-w-2xl mx-auto bg-white rounded-md shadow p-8 mx-4">
    <div class="flex items-center justify-between  mb-8">
      <h1 class="text-2xl font-bold text-gray-700">{{ header }}</h1>
      <div>
        <button
          v-if="state === 'default'"
          @click="changeState('edit')"
          class="bg-indigo-500 hover:bg-indigo-600 text-white text-sm font-semibold rounded-md py-2 px-4"
        >
        Add item
      </button>
      <button
          v-else
          @click="changeState('default')"
          class="bg-red-500 hover:bg-red-600 text-white text-sm font-semibold rounded-md py-2 px-4"
        >
        Cancel
      </button>
      </div>
    </div>

    <div
      v-if="state === 'edit'"
      class="flex gap-4"
    >
      <input
        type="text"
        v-model="newItem"
        @keyup.enter="saveItem"
        placeholder="Add item"
        class="flex-1 bg-gray-100 w-full py-2 px-4 text-gray-500 rounded-md"
      />
      <button
        @click="saveItem"
        class="bg-indigo-500 hover:bg-indigo-600 text-white text-sm font-semibold rounded-md py-2 px-4"
      >
        Add item
      </button>
    </div>

    <ul class="mt-4">
      <li v-for="item in items">
        {{ item }}
      </li>
    </ul>
    <p v-if="items.length === 0 ">Nice job! You've bought all your items.</p>
  </div>

  <script src="https://unpkg.com/vue@2"></script>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        state: 'default',
        header: 'Shooping List App',
        newItem: '',
        items: [
          //'10 party hats',
          //'2 board games',
          //'20 cups'
        ]
      },
      methods: {
        saveItem: function() {
          this.items.push(this.newItem)
          this.newItem = ''
        },
        changeState: function(newState) {
          this.state = newState

          this.newItem = ''
        }
      }
    })
  </script>
</body>
</html>